@model IEnumerable<MosadMVCServer.Models.AgentViews>

@{
	ViewData["Title"] = "Agents";
}

<h1>Agents</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Agent.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Agent.PhotoUrl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Agent.Nickname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Agent.Location.X)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Agent.Location.Y)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Agent.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KillAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TimeLeft)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Agent.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Agent.PhotoUrl)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Agent.Nickname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Agent.Location.X)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Agent.Location.Y)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Agent.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.KillAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TimeLeft)
				</td>
				<td>

					@Html.ActionLink("Details", "Details", new { id = item.Agent.Id })

				</td>
			</tr>
		}
	</tbody>
</table>
