@model IEnumerable<MosadMVCServer.Models.Mission>

@{
	ViewData["Title"] = "Missions";
}

<h1>Missions</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AgentId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TargetId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TimeLeft)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ExecutionTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AgentId.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TargetId.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TimeLeft)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExecutionTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					@Html.ActionLink("assign to mission", "assignToMission", new { id=item.Id})

				</td>
			</tr>
		}
	</tbody>
</table>
